<%= stylesheet_link_tag 'weekly_rates' %>

<table>
  <caption>Сводка по курсу обмена</caption>
  <thead>
  <tr>
    <th scope="col">Валюта</th>
    <th scope="col">4 недели назад</th>
    <th scope="col">3 недели назад</th>
    <th scope="col">Позапрошлая неделя</th>
    <th scope="col">Прошлая неделя</th>
  </tr>
  </thead>
  <tbody>
  <% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.name %></td>
    <% @weeks.each do |week| %>
      <% rate_start = currency.exchange_rates.find_by(date: week.first)&.rate %>
      <% rate_end = currency.exchange_rates.find_by(date: week.last)&.rate %>
    <td><% if rate_start && rate_end %>
        <%= rate_end.round(2) %>₽ (<%= ((rate_end - rate_start) / rate_start * 100).round(2) %>%)
      <% else %>
        N/A
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
